apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: LoadBalancer # This will expose the service externally
  selector:
    app: oscar-yolo-client
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80